<ion-header>
	<ion-navbar>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
 <!-- <div>Current Gente: {{ personas$ | async }}</div>
  <button ion-button (click)="ver()">Ver gente</button>
  <p>Prueba NGRX</p>
  <div>Current Horas: {{ horas$ | async }}</div>
  <button ion-button (click)="increment()">Increment</button>
  <button ion-button (click)="decrement()">Decrement</button>
  <button ion-button (click)="reset()">Reset Counter</button>
  <div>Current PALABRAS: {{a$ | async}}</div>
  <div *ngFor="let p of personas$">{{p}}</div>
  <ion-item>
    <ion-label floating>
      Mensaje*:
    </ion-label>
    <ion-input [(ngModel)]="mensaje" name="email" type="text" autocapitalize="off" required></ion-input>
  </ion-item>
  <button ion-button (click)="arrar()">Texto</button>
  <button ion-button (click)="anadir()">Añadir gente</button>-->
  <h2>Bienvenido a ngrx-entity</h2>
  <p>
    <button ion-button (click)="presentModal()">Añadir Cosa</button>
  </p>
  <div *ngFor="let c of $cosa | async">
    <ion-card text-wrap>
      <ion-card-header>{{c.name}}</ion-card-header>
      <ion-card-content>
        {{c.text}}<br><!--{{c.id}}-->
      </ion-card-content>
      <ion-row padding>
        <button ion-button color="danger" small (click)="deleteItem(c.id)">Delete</button>
        <button ion-button small (click)="presentModal(c)">Editar</button>
      </ion-row>
    </ion-card>
  </div>
</ion-content>